<div class='page-header'>
  <h1>Reset Password</h1>
</div>

<form ng-hide="resetpassword.hide" name="resetPasswordForm" ng-submit="resetpassword.setNewPassword(newpassworddata, resetPasswordForm.$valid, confirmed);" novalidate>

    <!-- <input type="text" name="name" ng-model="resetpassword.newpassworddata.name" placeholder="enter name here" required /> -->

    <div ng-class="{ 'has-success':(resetPasswordForm.firstPassword.$valid && !resetPasswordForm.firstPassword.$pristine) , 'has-error':(!resetPasswordForm.firstPassword.$valid && !resetPasswordForm.firstPassword.$pristine) || (!resetPasswordForm.firstPassword.$valid && resetPasswordForm.$submitted)|| (resetPasswordForm.$submitted && resetPasswordForm.firstPassword.$error.required)}">
        <label>Password: </label>
        <input ng-disabled="resetpassword.disabled" class='form-control' type="password" name="firstPassword" placeholder="enter password here..." ng-model="firstPassword" required/>
    </div>

    <br/>

    <div ng-class="{ 'has-success':(confirmed && !resetPasswordForm.confirmpassword.$error.required) , 'has-error':(!confirmed && !resetPasswordForm.confirmpassword.$error.required) || (resetPasswordForm.confirmpassword.$error.required && !resetPasswordForm.confirmpassword.$pristine) || (resetPasswordForm.$submitted && resetPasswordForm.confirmpassword.$error.required)}">

        <label>Confirm Password: </label>
        <input ng-disabled="resetpassword.disabled" class='form-control' type="password" name="confirmpassword" placeholder="confirm password please ..." ng-model="confirmPassword" match="{{[firstPassword]}}" ng-change="resetpassword.newpassworddata.password = confirmPassword" required/>

        <p class="help-block" ng-show="(!resetPasswordForm.confirmpassword.$pristine && resetPasswordForm.confirmpassword.$error.required) || (resetPasswordForm.$submitted && resetPasswordForm.confirmpassword.$error.required)">
          This field is required!
        </p>

        <p class="help-block" ng-show="!confirmed && !resetPasswordForm.confirmpassword.$pristine && resetPasswordForm.firstPassword.$valid">
          <span class="glyphicon glyphicon-ok" ></span>
          Passwords do not match!
        </p>

        <p class="help-block" ng-show="confirmed && !resetPasswordForm.confirmpassword.$pristine && resetPasswordForm.firstPassword.$valid">
          <span class="glyphicon glyphicon-ok" ></span>
          Passwords match!
        </p>

    </div>

    <br/>
    <button ng-disabled="resetpassword.disabled" class='btn btn-primary' type="submit">Reset Password</button>

</form>

<!-- <span><strong>is this form confirmed?</strong>{{ confirmed }}</span><br />
<span><strong>is this second password box pristine?</strong>{{ resetPasswordForm.confirmpassword.$pristine }}</span><br />
<span><strong>is this first password box valid?</strong>{{ resetPasswordForm.firstPassword.$valid }}</span><br /> -->

<br />
<div class="jumbotron text-center" ng-show="resetpassword.loading">
  <span class='glyphicon glyphicon-repeat spinner'></span>
  <p>
    Loading...
  </p>
</div>

<br />
<div class='row show-hide-message' ng-show="resetpassword.successMsg">
  <div class='alert alert-success'>
    {{resetpassword.successMsg}}
  </div>
</div>

<div class='row show-hide-message' ng-show="resetpassword.errorMsg">
  <div class='alert alert-danger'>
    {{resetpassword.errorMsg}}
  </div>
</div>
