<div class="page-header">
  <h1>{{ main.name }}'s Profile</h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading" style="text-align: center">
    <strong>User Profile</strong>
  </div>
  <table class="table">
    <tr>
      <td><strong>
        Email Id
      </td></strong>
      <td><strong>
        Name
      </td></strong>
      <td><strong>
        Password
      </td></strong>
    </tr>
    <tr>
      <td>
        {{main.email}}
      </td>
      <td>
        {{main.name}}
      </td>
      <td>
        ***********
      </td>
    </tr>
  </table>
</div>
